@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/*
    font-family: 'Roboto', sans-serif;
    font-weight: 100 | 300 | 400
*/
:root{
  --stcol: #333;
  --stcol2: #3336;
  --ndcol: #fff;
  --rdcol: #afa;
  --rdcol2: #afaa;
}
*{scrollbar-width:none;padding:0;margin:0;}
::-webkit-scrollbar{display:none;}
html,body,.box{width:100%; height:100%; background-color: var(--rdcol); color:var(--ndcol);font-family: 'Roboto', sans-serif; font-weight:100;
transition: background 450ms ease-in;-webkit-transition: background 450ms ease-in;-moz-transition: background 450ms ease-in;}

.box{background:none;}
.box_content{
  background:var(--stcol); border-radius:5vh;
  width:40vh; height:47vh;position:absolute;
  transform: translate(-50%, -50%); 
  font-size:5vh;
  top:50vh; left:50vw; padding:0 5vh 5vh 5vh;
  animation-name: floating;
  animation-duration: 0s;
  animation-direction: reverse;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
  -moz-animation-name: floating;
  -moz-animation-duration: 0s;
  -moz-animation-direction: reverse;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:ease-in-out;
  -webkit-animation-name: floating;
  -webkit-animation-duration: 0s;
  -webkit-animation-direction: reverse;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-box-shadow:-1vh 3vh 3px 2px  #3336;
}

@keyframes floating {
  50% { 
    font-size:5.5vh;
    width:43vh; height:50vh;
    box-shadow:-3vh 8vh 10px 4px #3336;}
}
@-webkit-keyframes floating {
  50% { 
    font-size:5.5vh;
    width:43vh; height:50vh;
    box-shadow:-3vh 8vh 10px 4px #3336;}
}
@-moz-keyframes floating {
  50% { 
    font-size:5.5vh;
    width:43vh; height:50vh;
    box-shadow:-3vh 8vh 10px 4px #3336;}
}

.box_content *{position:absolute;}
.container{ width:100%; position:relative;margin-bottom:6vh;}

/*HEADER*/
#header{height:20vh;}
.thumbnail{
  transform:translate(-50%,0); left:50%;
  width:100%; height:100%; background-color:var(--rdcol); border-radius: 0 0 2vh 2vh;background-position:center; background-size:cover; background-repeat:no-repeat;
}
/*TITLE*/
#title{position:relative; width:100%; height:25%; margin:0;}
.title_container{position:relative;    
  height:5.5vh; width:40vh;
  animation-name: scrolling;
  animation-duration: 0s;
  animation-direction: reverse;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
  overflow:hidden;
}
#name{font-weight:400;}
#author{font-size:55%; height:3vh;}

/*TIMELINE*/
#timeline{height:5vh;margin:0;}
.progressBar
{
  width:100%; height:2vh;
  background: #777;
  border-radius: 100px;
/*   transition: background 450ms ease-in; */
}
#seekBar{background:var(--rdcol); width:0%;}

.timing{font-size:2vh; top:50%; font-weight:300;opacity:0.5;-moz-opacity:0.5;-webkit-opacity:0.5;}
#duration{right:0;}

/*PLAYER*/
#player{height:6vh;}
.btn{width:5vh; height:3.5vh;
  opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;
  transform:translate(-50%,-50%);top:50%;left:50%;}
.btn:hover{opacity:1;-moz-opacity:1;-webkit-opacity:1;}
.shape{background-color:var(--rdcol);width:3vh; height:3.5vh;}
#back{left:25%;}
#back .shape{clip-path: polygon(100% 0%, 0% 50%, 100% 100%);-webkit-clip-path: polygon(100% 0%, 0% 50%, 100% 100%);-moz-clip-path: polygon(100% 0%, 0% 50%, 100% 100%);}
#back .nd{left:40%;}
#toggle.btn, #toggle .shape{width:5vh; height:6vh;}
#toggle .shape{clip-path: polygon(0% 0%, 0% 100%, 100% 50%);-webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);-moz-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);}
#toggle .nd{ display:none;left:60%;clip-path: none; 
  -webkit-clip-path: none; -moz-clip-path: none; 
  width:40%;}
#next{left:75%;}
#next .shape{clip-path:polygon(0% 0%, 100% 50%, 0% 100%);-webkit-clip-path:polygon(0% 0%, 100% 50%, 0% 100%);-moz-clip-path:polygon(0% 0%, 100% 50%, 0% 100%);}
#next .nd{left:40%;}